{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://facebook.com/nandinichhajed08"><i class="fab fa-facebook big-icon" ></i></a></li>
        <li><a href="https://www.instagram.com/nandini_chhajed_"><i class="fab fa-instagram big-icon" ></i></a></li>
        <li><a href="https://github.com/nandinichhajed"><i class="fab fa-github big-icon" ></i></a></li>
        <li><a href="https://twitter.com/nandini_chhajed"><i class="fab fa-twitter big-icon" ></i></a></li>
        <li><a href="https://linkedin.com/in/nandinichhajed"><i class="fab fa-linkedin big-icon" ></i></a></li>

        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Nandini Chhajed</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->