{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        {% for li in you %}

        <li><a href="{{ li.facebook }}"><i class="fab fa-facebook big-icon" ></i></a></li>
        <li><a href="{{ li.instagram }}"><i class="fab fa-instagram big-icon" ></i></a></li>
        <li><a href="{{ li.github }}"><i class="fab fa-github big-icon" ></i></a></li>
        <li><a href="{{ li.twitter }}"><i class="fab fa-twitter big-icon" ></i></a></li>
        <li><a href="{{ li.linkdin }}"><i class="fab fa-linkedin big-icon" ></i></a></li>

        {% endfor %}

        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Nandini Chhajed</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->